.button {
	display: inline-block;
	padding: 10px;
	font-size: 14px;
	text-align: center;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.2s ease 0s;

	svg {
		transition: all 0.2s ease 0s;
	}
}

.primary {
	color: var(--white);
	background-color: var(--primary);

	&:hover {
		background-color: var(--primary-hover);
	}

	svg {
		fill: var(--white);
	}
}

.ghost {
	color: var(--black);
	background-color: none;
	border: 1px solid var(--gray-white);

	&:hover {
		color: var(--white);
		background-color: var(--primary-hover);

		svg {
			fill: var(--white);
		}
	}
}

.arrow {
	display: inline-block;
	margin-left: 10px;
}

.right {
}

.down {
	transform: rotate(90deg);
	transition: all 0.2s ease 0;
}
