.rating {
	position: relative;
}

.star {
	&:not(:last-child) {
		padding-right: 5px;
	}
}

.fill {
	fill: var(--primary);
}

.editable {
	cursor: pointer;
}

.error {
	.star {
		fill: var(--red)
	}
}

.errorMessage {
	position: absolute;
	bottom: -15px;
	left: 0;
	color: var(--red);
	white-space: nowrap;
}
