.sortIcon {
	display: none;
}

.sortName {
	display: none;
}

.sort {
	display: grid;
	grid-template-columns: auto auto; 
	gap: 40px;

	.active {
		color: var(--primary); 
		font-weight: 700;
		
		.sortIcon {
			display: block;
		}
	}

	button {
		display: grid;
		grid-template-columns: 20px 1fr;
		gap: 8px;
		align-items: center;
		font-size: 16px;
		font-family: var(--font-family);
		background: none;
		border: 0;
		cursor: pointer;

		&:not(.active) {
			grid-template-columns: 1fr;
		}
	}
}
