.tag {
	display: inline-block;
	font-weight: 500;
	border: 1px solid var(--gray);
	border-radius: 20px;

	&:not(:last-child) {
		margin-right: 5px;
	}
}

.s {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 12px;
}

.m {
	padding: 5px 10px;
	font-size: 14px;
	line-height: 14px;
}

.ghost {
	border: 1px solid var(--gray-light);
}

.red {
	color: var(--white);
	font-weight: 600;
	background-color: #DE0000;
}

.gray {
	color: var(--white);
	font-weight: 600;
	background-color: #B3C0D9;
}

.green {
	color: var(--green);
	font-weight: 600;
	background-color: var(--green-light);
}

.primary {
	color: var(--primary);
	font-weight: 600;
	background-color: var(--gren-light);
	border: 1px solid var(--primary);
}
