@use "sass:math";

.hh {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 30px;

	&:not(:last-child) {
		margin-bottom: 47px;
	}

	@media (max-width: 1200px){
		grid-template-columns: 1fr;
	}
}

.count {
	padding: 20px;
	text-align: center;
}

.title {
	font-weight: 300;
	font-size: 20px;
	line-height: math.div(27, 20);
}

.countValue {
	margin-bottom: 10px;
	color: var(--primary);
	font-weight: 700;
	font-size: 36px;
	line-height: math.div(49, 39);
}

.salaryValue {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 26px;
	line-height: math.div(35, 26);
}

.salary {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 20px;
	text-align: center;

	> div {
		&:not(:last-child) {
			border-right: 1px solid var(--gray-light);
		}
	}

	@media (max-width: 640px){
		grid-template-columns: 1fr;

		> div {
			border-right: none;

			&:not(:last-child) {
				padding-bottom: 20px;
				border-bottom: 1px solid var(--gray-light);
			}
		}
	}
}

.rate {
	display: grid;
	grid-template-columns: repeat(3, 20px);
	gap: 10px;
	justify-content: center;
}

.field {
	circle {
		fill: var(--red)
	}
}
