.header {
	display: none;
	@media (max-width: 767.98px) {
		display: grid;
		grid-template-columns: 1fr 40px;
		gap: 10px;
		padding: 20px 15px 0 15px ;
	}
}

.mobileMenu {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	padding: 20px 15px;
	overflow-y: scroll;
	background-color: #F5F6F5;
}

.menuClose {
	position: fixed;
	top: 20px;
	right: 15px;
	z-index: 101;
}
